img {
  width: 50px;
  display: block;
  margin: auto;
}

.imagesize {
  width: 150px;
  align-self: left;
  display: block;
  margin: auto;
}

.maincontainer {
  padding: initial;
  max-width: 50%;
}

.row {
  margin: auto;
}
.containerleft {
  max-width: 55%;
}

.containerright {
  max-width: 55%;
}

.searchcontainer {
  margin: 2% 0;
}

.cityname {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 20px;
  text-align: center;
}
.standardstyleleft {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 17px;
  text-align: left;
}

.standardstyleright {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 15px;
  text-align: right;
  margin: 1% 0;
}

.leftstyledescription {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 13px;
  text-align: left;
}
.rightstyledescription {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 13px;
  text-align: right;
}

.styleformbutton {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 14px;
  text-align: left;
}

.cardstyle {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 14px;
  text-align: center;
}

.currenttemperaturestyle {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 50px;
  text-align: left;
  font-weight: bold;
}

.list-group-item {
  padding: 1% 0;
}

.standardstyleright .active-link {
  color: #20016d;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}
.standardstyleright .active-link:hover {
  text-decoration: none;
}
