img {
  width: 50px;
  display: block;
  margin: auto;
}

.imagesize {
  width: 150px;
  align-self: left;
  display: block;
  margin: auto;
}

.maincontainer {
  padding: 30px 100px 20px;
  max-width: 50%;
}

.containerleft {
  max-width: 45%;
}

.containerright {
  max-width: 45%;
}

.searchcontainer {
  margin: 2% 0;
}

.cityname {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 20px;
  text-align: center;
}
.standardstyleleft {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 17px;
  text-align: left;
}

.standardstyleright {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 15px;
  text-align: right;
}

.leftstyledescription {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 13px;
  text-align: left;
}
.rightstyledescription {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 13px;
  text-align: right;
}

.styleformbutton {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 14px;
  text-align: left;
}

.cardstyle {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 14px;
  text-align: center;
}

.currenttemperaturestyle {
  color: #20016d;
  font-family: "Abyssinica SIL", monospace;
  font-size: 50px;
  text-align: left;
  font-weight: bold;
}
